/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

h1 a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #333;
  padding: 5px 20px;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 10px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: center;
}

ol li {
  padding: 0 10px;
  cursor: pointer;
}

ol span {
  display: flex;
  font-size: 14px;
  padding: 6px 8px;
  color: #333 !important;
  text-decoration: none;
  cursor: pointer !important;
}

ol a,
ol button {
  color: #333 !important;
  text-decoration: none;
  cursor: pointer !important;
}


ol li:hover,
ol a:hover,
ol button:hover,
ol span:hover {
  color: green !important;
  background: transparent;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 15px 0 0px 0;
  border-top: 1px solid #000;
  display: flex;
  justify-content: center;
}

ul li {
  padding: 0 10px;
  cursor: pointer;
}

ul li a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

ul li:hover,
ul li a:hover {
  color: green;
}

ul li input[type="button"] {
  cursor: pointer;
}

h2, h3 {
  margin: 10px 0;
  padding: 0;
}